@charset "UTF-8";
/* ====================================== _____________ Variables Styles _____________ ====================================== */
/* ====================================== _____________ Variables Styles _____________ ====================================== */
/* ====================================== _____________ Mixin Styles _____________ ====================================== */
/* ====================================== _____________ Mixin Styles _____________ ====================================== */
/* ====================================== _____________ Classes Styles _____________ ====================================== */
.leftContainer {
  margin-left: auto;
  padding: 0 15px;
  padding-right: 0;
}
@media (max-width: 576px) {
  .leftContainer {
    width: 100%;
    padding-right: 15px;
    margin-left: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .leftContainer {
    width: calc(540px + (100vw - 540px) / 2);
    padding-right: 15px;
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .leftContainer {
    width: calc(720px + (100vw - 720px) / 2);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .leftContainer {
    width: calc(960px + (100vw - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  .leftContainer {
    width: calc(1140px + (100vw - 1140px) / 2);
  }
}

.rightContainer {
  margin-right: auto;
  padding: 0 15px;
  padding-left: 0;
}
@media (max-width: 576px) {
  .rightContainer {
    width: 100%;
    padding-left: 15px;
    margin-left: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .rightContainer {
    width: calc(540px + (100vw - 540px) / 2);
    padding-left: 15px;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .rightContainer {
    width: calc(720px + (100vw - 720px) / 2);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .rightContainer {
    width: calc(960px + (100vw - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  .rightContainer {
    width: calc(1140px + (100vw - 1140px) / 2);
  }
}

.mainColor {
  color: #1A3E6F !important;
}

.secColor {
  color: #222 !important;
}

.whtColor {
  color: #fff !important;
}

.blkColor {
  color: #000 !important;
}

.mainBgColor {
  background-color: #1A3E6F !important;
}

.secBgColor {
  background-color: #222 !important;
}

.whtBgColor {
  background-color: #fff !important;
}

.blkBgColor {
  background-color: #000 !important;
}

p,
.p {
  font-size: 0.95rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1rem;
}

a,
.a,
.link {
  font-size: 0.95rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.mainHover {
  transition: all 0.3s ease-in-out;
}
.mainHover:hover {
  color: #1A3E6F;
}

/* ====================================== _____________ Classes Styles _____________ ====================================== */
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-BoldItalic.eot");
  src: url("font/HeroNew-BoldItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-BoldItalic.woff2") format("woff2"), url("font/HeroNew-BoldItalic.woff") format("woff"), url("font/HeroNew-BoldItalic.ttf") format("truetype"), url("font/HeroNew-BoldItalic.svg#HeroNew-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-ExtraBoldItalic.eot");
  src: url("font/HeroNew-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-ExtraBoldItalic.woff2") format("woff2"), url("font/HeroNew-ExtraBoldItalic.woff") format("woff"), url("font/HeroNew-ExtraBoldItalic.ttf") format("truetype"), url("font/HeroNew-ExtraBoldItalic.svg#HeroNew-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Bold.eot");
  src: url("font/HeroNew-Bold.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Bold.woff2") format("woff2"), url("font/HeroNew-Bold.woff") format("woff"), url("font/HeroNew-Bold.ttf") format("truetype"), url("font/HeroNew-Bold.svg#HeroNew-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-ExtraBold.eot");
  src: url("font/HeroNew-ExtraBold.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-ExtraBold.woff2") format("woff2"), url("font/HeroNew-ExtraBold.woff") format("woff"), url("font/HeroNew-ExtraBold.ttf") format("truetype"), url("font/HeroNew-ExtraBold.svg#HeroNew-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Hairline";
  src: url("font/HeroNew-Hairline.eot");
  src: url("font/HeroNew-Hairline.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Hairline.woff2") format("woff2"), url("font/HeroNew-Hairline.woff") format("woff"), url("font/HeroNew-Hairline.ttf") format("truetype"), url("font/HeroNew-Hairline.svg#HeroNew-Hairline") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-RegularItalic.eot");
  src: url("font/HeroNew-RegularItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-RegularItalic.woff2") format("woff2"), url("font/HeroNew-RegularItalic.woff") format("woff"), url("font/HeroNew-RegularItalic.ttf") format("truetype"), url("font/HeroNew-RegularItalic.svg#HeroNew-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Regular.eot");
  src: url("font/HeroNew-Regular.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Regular.woff2") format("woff2"), url("font/HeroNew-Regular.woff") format("woff"), url("font/HeroNew-Regular.ttf") format("truetype"), url("font/HeroNew-Regular.svg#HeroNew-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-LightItalic.eot");
  src: url("font/HeroNew-LightItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-LightItalic.woff2") format("woff2"), url("font/HeroNew-LightItalic.woff") format("woff"), url("font/HeroNew-LightItalic.ttf") format("truetype"), url("font/HeroNew-LightItalic.svg#HeroNew-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Light.eot");
  src: url("font/HeroNew-Light.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Light.woff2") format("woff2"), url("font/HeroNew-Light.woff") format("woff"), url("font/HeroNew-Light.ttf") format("truetype"), url("font/HeroNew-Light.svg#HeroNew-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-MediumItalic.eot");
  src: url("font/HeroNew-MediumItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-MediumItalic.woff2") format("woff2"), url("font/HeroNew-MediumItalic.woff") format("woff"), url("font/HeroNew-MediumItalic.ttf") format("truetype"), url("font/HeroNew-MediumItalic.svg#HeroNew-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Hairline";
  src: url("font/HeroNew-HairlineItalic.eot");
  src: url("font/HeroNew-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-HairlineItalic.woff2") format("woff2"), url("font/HeroNew-HairlineItalic.woff") format("woff"), url("font/HeroNew-HairlineItalic.ttf") format("truetype"), url("font/HeroNew-HairlineItalic.svg#HeroNew-HairlineItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Medium.eot");
  src: url("font/HeroNew-Medium.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Medium.woff2") format("woff2"), url("font/HeroNew-Medium.woff") format("woff"), url("font/HeroNew-Medium.ttf") format("truetype"), url("font/HeroNew-Medium.svg#HeroNew-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-SemiBold.eot");
  src: url("font/HeroNew-SemiBold.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-SemiBold.woff2") format("woff2"), url("font/HeroNew-SemiBold.woff") format("woff"), url("font/HeroNew-SemiBold.ttf") format("truetype"), url("font/HeroNew-SemiBold.svg#HeroNew-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-SemiBoldItalic.eot");
  src: url("font/HeroNew-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-SemiBoldItalic.woff2") format("woff2"), url("font/HeroNew-SemiBoldItalic.woff") format("woff"), url("font/HeroNew-SemiBoldItalic.ttf") format("truetype"), url("font/HeroNew-SemiBoldItalic.svg#HeroNew-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-UltraLightItalic.eot");
  src: url("font/HeroNew-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-UltraLightItalic.woff2") format("woff2"), url("font/HeroNew-UltraLightItalic.woff") format("woff"), url("font/HeroNew-UltraLightItalic.ttf") format("truetype"), url("font/HeroNew-UltraLightItalic.svg#HeroNew-UltraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Super";
  src: url("font/HeroNew-Super.eot");
  src: url("font/HeroNew-Super.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Super.woff2") format("woff2"), url("font/HeroNew-Super.woff") format("woff"), url("font/HeroNew-Super.ttf") format("truetype"), url("font/HeroNew-Super.svg#HeroNew-Super") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-ThinItalic.eot");
  src: url("font/HeroNew-ThinItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-ThinItalic.woff2") format("woff2"), url("font/HeroNew-ThinItalic.woff") format("woff"), url("font/HeroNew-ThinItalic.ttf") format("truetype"), url("font/HeroNew-ThinItalic.svg#HeroNew-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Super";
  src: url("font/HeroNew-SuperItalic.eot");
  src: url("font/HeroNew-SuperItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-SuperItalic.woff2") format("woff2"), url("font/HeroNew-SuperItalic.woff") format("woff"), url("font/HeroNew-SuperItalic.ttf") format("truetype"), url("font/HeroNew-SuperItalic.svg#HeroNew-SuperItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Thin.eot");
  src: url("font/HeroNew-Thin.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Thin.woff2") format("woff2"), url("font/HeroNew-Thin.woff") format("woff"), url("font/HeroNew-Thin.ttf") format("truetype"), url("font/HeroNew-Thin.svg#HeroNew-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-UltraLight.eot");
  src: url("font/HeroNew-UltraLight.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-UltraLight.woff2") format("woff2"), url("font/HeroNew-UltraLight.woff") format("woff"), url("font/HeroNew-UltraLight.ttf") format("truetype"), url("font/HeroNew-UltraLight.svg#HeroNew-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/Hero-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/Hero-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  src: url("font/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("font/HelveticaNeue.otf") format("opentype");
}
/* ====================================== _____________ Global Styles _____________ ====================================== */
/* ====================================== _____________ Global Styles _____________ ====================================== */
/* ====================================== _____________ Grids Styles _____________ ====================================== */
/* ====================================== _____________ Grids Styles _____________ ====================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #1A3E6F;
}

.navbar-brand img {
  max-width: 100%;
}

.navbar-nav .AR a {
  font-family: "Helvetica Neue";
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  color: #fff;
  margin-right: 25px;
  padding: 12px 25px;
}

.Contact-Us .btn {
  color: #1A3E6F !important;
  font-family: "Helvetica Neue";
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 12px 25px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.navbar2 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar2 .navbar-nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar2 .nav-item .Links {
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1A3E6F !important;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 0;
  padding-top: 10px;
}

/* Border under the active link */
.navbar2 .nav-item .Links.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px !important;
  background-color: #1A3E6F !important;
  transition: width 0.3s ease;
}

@media (max-width: 992px) {
  .navbar-brand img {
    max-width: 120px;
  }
  .navbar .navbar-toggler {
    background-color: #fff !important;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar-nav .AR a {
    margin-right: 15px;
    font-size: 12px !important;
  }
  .Contact-Us .btn {
    font-size: 12px !important;
    padding: 10px 20px;
  }
  .navbar2 .navbar-nav {
    width: 60%;
  }
  .navbar2 .nav-item .Links {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .navbar-brand img {
    max-width: 100px;
    height: auto !important;
  }
  .navbar-nav .AR a {
    margin-right: 10px;
    font-size: 10px !important;
  }
  .Contact-Us .btn {
    font-size: 10px !important;
    padding: 8px 15px;
  }
  .navbar2 .navbar-nav {
    width: 80%;
    justify-content: space-around;
  }
  .navbar2 .nav-item .Links {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .navbar-brand img {
    max-width: 80px;
  }
  .navbar-nav .AR a {
    margin-right: 5px;
    font-size: 9px !important;
  }
  .Contact-Us .btn {
    font-size: 9px !important;
    padding: 6px 12px;
  }
  .navbar2 .navbar-nav {
    width: 100%;
    flex-direction: column;
  }
  .navbar2 .nav-item .Links {
    font-size: 9px;
    margin-bottom: 5px;
  }
}
.nav-pills .nav-link {
  background-color: transparent;
  color: #79797C;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  padding: 18px;
  text-align: center;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: #1A3E6F !important;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.nav-pills .nav-link img {
  filter: none;
  transition: filter 0.3s ease;
}

.nav-pills .nav-link.active img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(2000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.nav-pills {
  position: relative;
}

.nav-pills::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  height: 180%;
  width: 1px;
  background-color: #d2d2d6;
}

@media (max-width: 1025px) {
  .nav-pills::before {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    height: 150%;
    width: 1px;
  }
}
.tab-pane ul li a {
  color: #79797C;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .nav-pills {
    position: static;
    margin-bottom: 20px;
    border-bottom: 1px solid #79797C;
    width: 100%;
  }
  .nav-pills::before {
    display: none;
  }
  .nav-pills .nav-link {
    padding: 12px;
    font-size: 12px;
  }
  .nav-pills .nav-link img {
    width: 16px;
  }
  .sidebar-content-capton-imgPosition img {
    width: 120%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .nav-pills .nav-link {
    font-size: 10px;
    padding: 10px;
  }
  .nav-pills .nav-link img {
    width: 14px;
  }
  .tab-pane ul li a {
    font-size: 12px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .sidebar-content-capton p {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #A3A3A3;
  }
}
.footer {
  padding: 2rem 0;
  margin-top: 80px;
  background-color: #1A3E6F;
  text-transform: capitalize;
  position: relative;
}
.footer .container-fluid {
  width: 90%;
}
.footer .end-link {
  position: absolute;
  right: 0;
  margin-right: 0 !important;
  padding-right: 0 !important;
  text-align: end;
}
@media (max-width: 768px) {
  .footer .end-link {
    position: relative;
  }
  .footer .newsletter-relative img {
    display: none;
  }
  .footer .mediaQuery {
    padding-left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
}
@media (max-width: 1030px) {
  .footer .mediaQuery {
    padding-left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
}
.footer .newsletter {
  position: absolute;
  top: -10px;
  right: 0px;
}
.footer .footer-P-end {
  color: #79797C;
  font-family: "Helvetica Neue";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -20px;
}
.footer .Subscribe {
  margin-top: 20px;
}
.footer .Subscribe .btn {
  color: #1A3E6F !important;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 1px;
  background-color: #79797C;
  opacity: 0.3;
  margin-bottom: 20px;
}
@media (max-width: 10440px) {
  .footer {
    padding: 2.5rem 0;
    overflow: hidden;
  }
}
.footer .footer_content_logo {
  width: 200px;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .footer .footer_content_logo {
    width: 100px !important;
    margin-bottom: 1rem;
  }
}
.footer .footer_content_socialList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .footer .footer_content_socialList {
    margin-top: 0px;
  }
}
.footer .footer_content_socialList img {
  padding: 10px;
}
.footer .footer_content_socialList .footer_content_socialList {
  margin-bottom: 0;
}
.footer .footer_content_list {
  margin-bottom: 0;
}
.footer .footer_content_list_item {
  margin-bottom: 0.75rem;
}
.footer .footer_content_list_item:last-child {
  margin-bottom: 0;
}
.footer .footer_content_list_item .noactive {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .footer .footer_content_list_item .noactive {
    display: flex;
    align-items: center;
  }
}
.footer .footer_content_list_item_link {
  position: relative;
  color: #AAA;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 15px;
  text-decoration: none;
}
.footer .footer_content_list_item_link:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .footer .col-6 {
    width: 50%;
    float: left;
  }
  .footer .footer_content_list {
    text-align: start;
  }
  .footer .newsletter-relative {
    text-align: start;
  }
}

.copyright {
  background-color: #1A3E6F;
  padding: 0.5rem 0;
}
.copyright .container-fluid {
  width: 90%;
  overflow: hidden;
}
@media (max-width: 991px) {
  .copyright .partOne {
    width: 80%;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px !important;
  }
  .copyright .partTwo {
    width: 80%;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright .Privacy-policy {
    margin-right: 9px;
  }
}
.copyright .Privacy-policy {
  margin-right: 15px;
}
.copyright_desc {
  color: #AAA;
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0;
  min-height: 16px;
  line-height: 20px;
}
.copyright_desc a {
  margin-bottom: 0;
}
.copyright_desc img {
  width: 49px;
}
@media (max-width: 991px) {
  .copyright_desc img {
    width: 35px;
  }
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  height: 75%;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 68%;
  max-height: 78% !important;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: top 0.9s ease;
  padding: 20px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  z-index: 1000;
}

.sidebar-content {
  display: none;
  margin-top: 20px;
}

/* Active content */
.active {
  display: block;
}

/* Close button hidden */
.sidebar .closebtn {
  display: none;
}

.sidebar-content-Links ul li {
  list-style: none;
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  color: #79797C;
}

.sidebar-content-Links {
  position: relative;
}

.sidebar-content-Links::before {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  height: 205%;
  width: 1px;
  background-color: #d2d2d6;
}

@media (max-width: 1025px) {
  .sidebar-content-Links::before {
    content: "";
    position: absolute;
    top: 0;
    right: -25px;
    height: 150%;
    width: 1px;
    background-color: #d2d2d6 !important;
  }
}
.sidebar-content-Links ul {
  list-style: none;
  padding: 0;
}

.sidebar-content-Links ul li {
  padding: 5px 0;
}

.sidebar-content-capton {
  margin-left: 50px;
}

.sidebar-content-capton p {
  margin-top: 40px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #A3A3A3;
}

.sidebar-content-capton-imgPosition {
  position: absolute;
  bottom: 20px;
  right: 5px;
}

.sidebar-content-capton-imgPosition img {
  width: 300px;
}

.bottom-Img .sidebar-content-capton-imgPosition {
  width: 300px;
}

/* Media Query للأجهزة اللوحية */
@media (max-width: 992px) {
  .sidebar-content-Links ul li {
    margin-left: 10px;
  }
  .sidebar-content-capton {
    margin-left: 20px;
  }
  .sidebar-content-capton-imgPosition {
    bottom: 25px !important;
    right: 0px;
    width: 270px;
    overflow-x: hidden;
    text-align: end;
  }
  .sidebar-content-capton-imgPosition img {
    width: 80% !important;
    text-align: end;
  }
  .bottom-Img .sidebar-content-capton-imgPosition {
    bottom: -170px !important;
    right: 0px;
    width: 270px !important;
  }
  .sidebar-content-Hidden {
    background-color: red;
    display: none;
  }
  .sidebar-content .arrow-right {
    display: none !important;
  }
  .sidebar-content .arrow-bottom {
    display: inline !important;
  }
}
/* Media Query لشاشات الموبايل */
@media (max-width: 768px) {
  .sidebar-content-Links {
    text-align: center;
    position: relative;
  }
  .sidebar-content-Links ul li {
    margin-left: 0;
    margin-bottom: 2px;
    font-size: 12px;
  }
  /* إخفاء البوردر الأصلي على الجانب */
  .sidebar-content-Links::before {
    display: none;
  }
  .sidebar-content-capton {
    margin-left: 0;
    text-align: center;
  }
  .sidebar-content-capton p {
    margin-top: 10px;
  }
  .sidebar-content img {
    width: 100%;
    height: auto;
  }
  /* Swiper */
  .banner_homepage .swiper-container {
    height: 350px !important;
    margin-top: 64px !important;
  }
  .banner_homepage .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sidebar {
    overflow: scroll;
    margin-top: 40px;
    height: 410px;
  }
  .sidebar .tab-content {
    text-align: center;
  }
  .sidebar .tab-content ul li a {
    color: #1A3E6F;
    padding-left: 9px !important;
  }
}
@media (max-width: 576px) {
  .sidebar-content-capton-imgPosition {
    bottom: 20px !important;
    right: 0px;
    width: 180px;
    overflow-x: hidden;
    text-align: end;
  }
  .sidebar-content-capton-imgPosition img {
    width: 80% !important;
    text-align: end;
  }
  .bottom-Img .sidebar-content-capton-imgPosition {
    bottom: -250px !important;
    padding-bottom: 20px;
    right: 0px;
    width: 180px !important;
  }
  .sidebar-content-Hidden {
    background-color: red;
    display: none;
  }
  .sidebar-content .arrow-right {
    display: none !important;
  }
  .sidebar-content .arrow-bottom {
    display: inline !important;
  }
}
/* ====================================== _____________ Buttons Styles _____________ ====================================== */
/* ====================================== _____________ Buttons Styles _____________ ====================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue";
  overflow-x: hidden !important;
}

.banner_homepage .swiper-container .swiper-slide img {
  width: 100%;
  height: 100vh;
}

.banner_homepage .swiper-pagination-bullet {
  background-color: #fff;
}

.banner_homepage .swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_homepage .swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  color: white;
}

.banner_homepage .swiper-button-next {
  right: 10px;
  bottom: 20px;
  display: none;
}

.banner_homepage .swiper-button-prev {
  left: 25px;
  bottom: 20px;
  display: none;
}

.banner_homepage:hover .swiper-button-next {
  display: block;
}

.banner_homepage:hover .swiper-button-prev {
  display: block;
}

@media (max-width: 768px) {
  .banner_homepage .swiper-container {
    height: 350px !important;
    margin-top: 64px !important;
  }
  .banner_homepage .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Who-We-Are {
  margin-top: 90px;
}

.Who-We-Are .caption {
  padding-left: 80px;
}

.Who-We-Are .caption h2 {
  color: #1A3E6F;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.border-under {
  position: relative;
  display: inline-block;
}

.border-under::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  border-bottom: 3px solid #79797C;
}

.Who-We-Are .caption p {
  margin-top: 50px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px;
  color: #79797C;
  padding-right: 30px;
}

.Who-We-Are .caption .btnMain {
  background-color: #1A3E6F;
  color: #fff;
  padding: 11px 20px;
  margin-top: 40px;
}

.Who-We-Are .Image img {
  height: 375px;
  object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Who-We-Are .caption {
    padding-left: 60px !important;
  }
  .Who-We-Are .caption p {
    margin-top: 25px;
  }
  .Who-We-Are .caption .btnMain {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .Who-We-Are .Image img {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (max-width: 768px) {
  .Who-We-Are .caption {
    padding-left: 45px !important;
  }
  .Who-We-Are {
    margin: auto;
    margin-top: 90px;
  }
  .Who-We-Are .caption .btnMain {
    margin-top: 10px;
  }
  .Who-We-Are .caption p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px !important;
    text-align: start !important;
  }
  .Who-We-Are .Image {
    width: 50% !important;
    text-align: end;
  }
  .Who-We-Are .Image img {
    width: 100% !important;
    height: 350px !important;
    text-align: end;
  }
}
@media (max-width: 576px) {
  .Who-We-Are .caption {
    padding: 15px !important;
  }
  .Who-We-Are {
    margin-top: 60px;
  }
  .Who-We-Are-item {
    flex-direction: column;
    text-align: start;
  }
  .Who-We-Are .caption {
    width: 90% !important;
    margin: auto;
  }
  .Who-We-Are .caption h2 {
    font-size: 24px;
    text-align: start;
  }
  .Who-We-Are .caption p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px !important;
    text-align: start !important;
    padding-right: 0 !important;
  }
  .Who-We-Are .Image {
    width: 100% !important;
  }
  .Who-We-Are .Image img {
    width: 100% !important;
    height: 350px !important;
  }
  .Who-We-Are .caption .btnMain {
    padding: 8px 15px;
    margin-bottom: 20px;
  }
}
.Ourservices {
  margin-top: 70px;
  background: rgba(121, 121, 124, 0.1);
  padding-bottom: 40px;
}

.Ourservices .caption {
  margin-top: 70px;
}

.Ourservices .caption h2 {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #1A3E6F;
}

.Ourservices .container-fluid {
  width: 90%;
}

.Ourservices .item-hover {
  background-color: #1A3E6F;
  height: 75px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Ourservices h3 {
  color: #FFF;
  text-align: center;
  /* Services Title */
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .Ourservices .item-captipn2 h3 {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 10px !important;
    font-weight: 100 !important;
  }
}
.Ourservices .item-hover h3 {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.Ourservices .item {
  overflow: hidden;
  margin-top: 50px;
  height: 200px;
  flex-shrink: 0;
}

.Ourservices .item img {
  transition: transform 0.3s ease-in-out;
  transition: all 1s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Ourservices .item:hover img {
  transform: scale(1.01);
}

.Ourservices .item-captipn {
  background-color: #1A3E6F;
  color: #fff;
  height: 80px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.Ourservices .item:hover ~ .item-captipn {
  background-color: #102B4F;
}

.Ourservices .item-Services {
  width: 64px;
  height: 64px;
  margin: auto;
  text-align: center;
  margin-top: 25px;
}

.Ourservices .item-Services img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.Ourservices .item-captipn2 {
  background-color: #1A3E6F;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  margin-top: 16px;
}

.Ourservices .item-captipn2 h3 {
  color: #fff;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

.Ourservices .item-captipn2:hover {
  background-color: #102B4F;
}

.row-Item {
  display: flex;
  flex-wrap: wrap;
}

.col-Item {
  flex: 1 1 20%;
  margin-bottom: 15px;
}

.item-Services img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .col-Item {
    flex: 1 1 50%;
  }
}
@media (max-width: 992px) {
  .col-Item {
    flex: 1 1 50%;
  }
}
.LatestNEWS .caption {
  margin-top: 70px;
  margin-bottom: 50px;
}

.LatestNEWS .caption h2 {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #1A3E6F;
}

.LatestNEWS .container-fluid {
  width: 90%;
}

.LatestNEWS .item-captipn h3 {
  color: #141B34;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.LatestNEWS .item-captipn p {
  overflow: hidden;
  color: #828282;
  text-overflow: ellipsis;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.LatestNEWS .item-captipn .btnMain {
  background-color: #1A3E6F;
  color: #fff;
  padding: 11px 20px;
}

.LatestNEWS .item-captipn .btnMain2 {
  background-color: #1A3E6F;
  color: #fff;
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 300;
}

@media (min-width: 768px) and (max-width: 1020px) {
  .LatestNEWS-hiden-section {
    display: none;
  }
}
.Brands .custom-border {
  width: 90%;
  height: 1px;
  background-color: #79797C;
  margin: 20px auto;
  opacity: 0.2;
}

.Brands .caption {
  padding-left: 85px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .Brands .caption {
    padding-left: 35px;
  }
}
.Brands .caption h2 {
  color: #1A3E6F;
  font-family: "Helvetica Neue";
  font-size: 32px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
