@charset "UTF-8";
/* ====================================== _____________ Variables Styles _____________ ====================================== */
/* ====================================== _____________ Variables Styles _____________ ====================================== */
/* ====================================== _____________ Mixin Styles _____________ ====================================== */
/* ====================================== _____________ Mixin Styles _____________ ====================================== */
/* ====================================== _____________ Classes Styles _____________ ====================================== */
.leftContainer {
  margin-left: auto;
  padding: 0 15px;
  padding-right: 0;
}
@media (max-width: 576px) {
  .leftContainer {
    width: 100%;
    padding-right: 15px;
    margin-left: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .leftContainer {
    width: calc(540px + (100vw - 540px) / 2);
    padding-right: 15px;
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .leftContainer {
    width: calc(720px + (100vw - 720px) / 2);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .leftContainer {
    width: calc(960px + (100vw - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  .leftContainer {
    width: calc(1140px + (100vw - 1140px) / 2);
  }
}

.rightContainer {
  margin-right: auto;
  padding: 0 15px;
  padding-left: 0;
}
@media (max-width: 576px) {
  .rightContainer {
    width: 100%;
    padding-left: 15px;
    margin-left: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .rightContainer {
    width: calc(540px + (100vw - 540px) / 2);
    padding-left: 15px;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .rightContainer {
    width: calc(720px + (100vw - 720px) / 2);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .rightContainer {
    width: calc(960px + (100vw - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  .rightContainer {
    width: calc(1140px + (100vw - 1140px) / 2);
  }
}

.mainColor {
  color: #1A3E6F !important;
}

.secColor {
  color: #222 !important;
}

.whtColor {
  color: #fff !important;
}

.blkColor {
  color: #000 !important;
}

.mainBgColor {
  background-color: #1A3E6F !important;
}

.secBgColor {
  background-color: #222 !important;
}

.whtBgColor {
  background-color: #fff !important;
}

.blkBgColor {
  background-color: #000 !important;
}

p,
.p {
  font-size: 0.95rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1rem;
}

a,
.a,
.link {
  font-size: 0.95rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.mainHover {
  transition: all 0.3s ease-in-out;
}
.mainHover:hover {
  color: #1A3E6F;
}

/* ====================================== _____________ Classes Styles _____________ ====================================== */
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-BoldItalic.eot");
  src: url("font/HeroNew-BoldItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-BoldItalic.woff2") format("woff2"), url("font/HeroNew-BoldItalic.woff") format("woff"), url("font/HeroNew-BoldItalic.ttf") format("truetype"), url("font/HeroNew-BoldItalic.svg#HeroNew-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-ExtraBoldItalic.eot");
  src: url("font/HeroNew-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-ExtraBoldItalic.woff2") format("woff2"), url("font/HeroNew-ExtraBoldItalic.woff") format("woff"), url("font/HeroNew-ExtraBoldItalic.ttf") format("truetype"), url("font/HeroNew-ExtraBoldItalic.svg#HeroNew-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Bold.eot");
  src: url("font/HeroNew-Bold.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Bold.woff2") format("woff2"), url("font/HeroNew-Bold.woff") format("woff"), url("font/HeroNew-Bold.ttf") format("truetype"), url("font/HeroNew-Bold.svg#HeroNew-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-ExtraBold.eot");
  src: url("font/HeroNew-ExtraBold.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-ExtraBold.woff2") format("woff2"), url("font/HeroNew-ExtraBold.woff") format("woff"), url("font/HeroNew-ExtraBold.ttf") format("truetype"), url("font/HeroNew-ExtraBold.svg#HeroNew-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Hairline";
  src: url("font/HeroNew-Hairline.eot");
  src: url("font/HeroNew-Hairline.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Hairline.woff2") format("woff2"), url("font/HeroNew-Hairline.woff") format("woff"), url("font/HeroNew-Hairline.ttf") format("truetype"), url("font/HeroNew-Hairline.svg#HeroNew-Hairline") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-RegularItalic.eot");
  src: url("font/HeroNew-RegularItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-RegularItalic.woff2") format("woff2"), url("font/HeroNew-RegularItalic.woff") format("woff"), url("font/HeroNew-RegularItalic.ttf") format("truetype"), url("font/HeroNew-RegularItalic.svg#HeroNew-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Regular.eot");
  src: url("font/HeroNew-Regular.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Regular.woff2") format("woff2"), url("font/HeroNew-Regular.woff") format("woff"), url("font/HeroNew-Regular.ttf") format("truetype"), url("font/HeroNew-Regular.svg#HeroNew-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-LightItalic.eot");
  src: url("font/HeroNew-LightItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-LightItalic.woff2") format("woff2"), url("font/HeroNew-LightItalic.woff") format("woff"), url("font/HeroNew-LightItalic.ttf") format("truetype"), url("font/HeroNew-LightItalic.svg#HeroNew-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Light.eot");
  src: url("font/HeroNew-Light.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Light.woff2") format("woff2"), url("font/HeroNew-Light.woff") format("woff"), url("font/HeroNew-Light.ttf") format("truetype"), url("font/HeroNew-Light.svg#HeroNew-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-MediumItalic.eot");
  src: url("font/HeroNew-MediumItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-MediumItalic.woff2") format("woff2"), url("font/HeroNew-MediumItalic.woff") format("woff"), url("font/HeroNew-MediumItalic.ttf") format("truetype"), url("font/HeroNew-MediumItalic.svg#HeroNew-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Hairline";
  src: url("font/HeroNew-HairlineItalic.eot");
  src: url("font/HeroNew-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-HairlineItalic.woff2") format("woff2"), url("font/HeroNew-HairlineItalic.woff") format("woff"), url("font/HeroNew-HairlineItalic.ttf") format("truetype"), url("font/HeroNew-HairlineItalic.svg#HeroNew-HairlineItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Medium.eot");
  src: url("font/HeroNew-Medium.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Medium.woff2") format("woff2"), url("font/HeroNew-Medium.woff") format("woff"), url("font/HeroNew-Medium.ttf") format("truetype"), url("font/HeroNew-Medium.svg#HeroNew-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-SemiBold.eot");
  src: url("font/HeroNew-SemiBold.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-SemiBold.woff2") format("woff2"), url("font/HeroNew-SemiBold.woff") format("woff"), url("font/HeroNew-SemiBold.ttf") format("truetype"), url("font/HeroNew-SemiBold.svg#HeroNew-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-SemiBoldItalic.eot");
  src: url("font/HeroNew-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-SemiBoldItalic.woff2") format("woff2"), url("font/HeroNew-SemiBoldItalic.woff") format("woff"), url("font/HeroNew-SemiBoldItalic.ttf") format("truetype"), url("font/HeroNew-SemiBoldItalic.svg#HeroNew-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-UltraLightItalic.eot");
  src: url("font/HeroNew-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-UltraLightItalic.woff2") format("woff2"), url("font/HeroNew-UltraLightItalic.woff") format("woff"), url("font/HeroNew-UltraLightItalic.ttf") format("truetype"), url("font/HeroNew-UltraLightItalic.svg#HeroNew-UltraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Super";
  src: url("font/HeroNew-Super.eot");
  src: url("font/HeroNew-Super.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Super.woff2") format("woff2"), url("font/HeroNew-Super.woff") format("woff"), url("font/HeroNew-Super.ttf") format("truetype"), url("font/HeroNew-Super.svg#HeroNew-Super") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-ThinItalic.eot");
  src: url("font/HeroNew-ThinItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-ThinItalic.woff2") format("woff2"), url("font/HeroNew-ThinItalic.woff") format("woff"), url("font/HeroNew-ThinItalic.ttf") format("truetype"), url("font/HeroNew-ThinItalic.svg#HeroNew-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New Super";
  src: url("font/HeroNew-SuperItalic.eot");
  src: url("font/HeroNew-SuperItalic.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-SuperItalic.woff2") format("woff2"), url("font/HeroNew-SuperItalic.woff") format("woff"), url("font/HeroNew-SuperItalic.ttf") format("truetype"), url("font/HeroNew-SuperItalic.svg#HeroNew-SuperItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-Thin.eot");
  src: url("font/HeroNew-Thin.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-Thin.woff2") format("woff2"), url("font/HeroNew-Thin.woff") format("woff"), url("font/HeroNew-Thin.ttf") format("truetype"), url("font/HeroNew-Thin.svg#HeroNew-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/HeroNew-UltraLight.eot");
  src: url("font/HeroNew-UltraLight.eot?#iefix") format("embedded-opentype"), url("font/HeroNew-UltraLight.woff2") format("woff2"), url("font/HeroNew-UltraLight.woff") format("woff"), url("font/HeroNew-UltraLight.ttf") format("truetype"), url("font/HeroNew-UltraLight.svg#HeroNew-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/Hero-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hero New";
  src: url("font/Hero-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  src: url("font/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("font/HelveticaNeue.otf") format("opentype");
}
/* ====================================== _____________ Global Styles _____________ ====================================== */
/* ====================================== _____________ Global Styles _____________ ====================================== */
/* ====================================== _____________ Grids Styles _____________ ====================================== */
/* ====================================== _____________ Grids Styles _____________ ====================================== */
footer .footer {
  padding: 2rem 0;
  margin-top: 80px;
  background-color: #1A3E6F;
  text-transform: capitalize;
  position: relative;
}
footer .footer .container-fluid {
  width: 90%;
}
footer .footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 1px;
  background-color: #79797C;
  opacity: 0.3;
  margin-bottom: 20px;
}
@media (max-width: 10440px) {
  footer .footer {
    padding: 2.5rem 0;
    overflow: hidden;
  }
}
footer .footer .end-link {
  position: absolute;
  right: 0;
  margin-right: 0 !important;
  padding-right: 0 !important;
}
@media (max-width: 768px) {
  footer .footer .end-link {
    position: sticky;
  }
}
footer .footer .footer-P-end {
  color: #79797C;
  font-family: "Helvetica Neue";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 45px;
}
footer .footer_content_logo {
  width: 200px;
  margin-bottom: 2rem;
}
footer .footer_content_desc {
  color: #1A3E6F;
  font-weight: 400;
  font-size: 1.7rem;
}
footer .footer_content_title {
  color: #1A3E6F;
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
  font-weight: 600;
}
footer .footer_content_socialList {
  display: flex;
  gap: 1rem;
}
footer .footer_content_socialList_item_link {
  margin-bottom: 0;
  margin-top: 110px;
  color: #000;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
@media (max-width: 991px) {
  footer .footer_content_socialList_item_link {
    height: 36px;
    width: 36px;
    margin-top: 0px;
  }
}
footer .footer_content_socialList_item_link_icon {
  transition: all 0.3s ease-in-out;
  width: 19.2px;
}
@media (max-width: 991px) {
  footer .footer_content_socialList_item_link_icon {
    width: 15px;
  }
}
@media (max-width: 768px) {
  footer .footer_content_socialList_item_link_icon {
    width: 14px;
  }
}
footer .footer_content .newsletter-relative {
  position: relative;
  text-align: end;
}
footer .footer_content .newsletter {
  position: absolute;
  top: 48px;
  right: 80;
}
footer .footer_content .Subscribe {
  margin-top: 15px;
}
footer .footer_content .Subscribe .btn {
  color: #1A3E6F !important;
  /* Button Small Typo */
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  footer .footer_content .newsletter-relative {
    text-align: start;
  }
}
footer .footer_content_list {
  margin-bottom: 0;
}
footer .footer_content_list_item {
  margin-bottom: 0.75rem;
}
footer .footer_content_list_item:last-child {
  margin-bottom: 0;
}
footer .footer_content_list_item .noactive {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer_content_list_item_link {
  position: relative;
  color: #AAA;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 15px;
  text-decoration: none;
}
footer .footer_content_list_item_link:last-child {
  margin-bottom: 0;
}
footer .footer_content_list_item_link::after {
  content: "";
  background-image: url("../img/global/arrowRight.png");
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  background-size: contain;
}
footer .footer_content_list_item_link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #79797C;
  transition: all 0.3s ease-in-out;
}
body.en footer .footer_content_list_item_link::before {
  left: auto;
  right: 0;
}
footer .footer_content_list_item_link:hover::before {
  width: 100%;
}
footer .footer_content_list_item_link:hover::after {
  opacity: 1;
}
footer .copyright {
  background-color: #1A3E6F;
  padding: 0.5rem 0;
}
footer .copyright .container-fluid {
  width: 90%;
  overflow: hidden;
}
footer .copyright_desc {
  color: #AAA;
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0;
  min-height: 16px;
  line-height: 20px;
}
footer .copyright_desc a {
  margin-bottom: 0;
}
footer .copyright_desc img {
  width: 49px;
}
@media (max-width: 991px) {
  footer .copyright_desc img {
    width: 35px;
  }
}

/* ====================================== _____________ Footer Styles _____________ ====================================== */
/* ====================================== _____________ Sidebar Styles _____________ ====================================== */
/* ====================================== _____________ Sidebar Styles _____________ ====================================== */
/* ====================================== _____________ Buttons Styles _____________ ====================================== */
.redButton {
  padding: 10px 30px;
  background-color: #1A3E6F;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
  border-radius: 4px;
}
.redButton:hover {
  color: #1A3E6F;
  background-color: white;
}

/* ====================================== _____________ Buttons Styles _____________ ====================================== */
/* ====================================== _____________ Slider Styles _____________ ====================================== */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ====================================== _____________ Slider Styles _____________ ====================================== */
/* ====================================== _____________ cards Styles _____________ ====================================== */
/*  _____________ cards Styles _____________  */
.mainCard {
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.mainCard_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  filter: grayscale(1);
}
@media (max-width: 991px) {
  .mainCard_img {
    height: 500px;
  }
}
@media (max-width: 568px) {
  .mainCard_img {
    height: 350px;
  }
}
.mainCard_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #1A3E6F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  pointer-events: none;
  transform: translateY(50%);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 500px) {
  .mainCard_content {
    transform: translateY(55%);
  }
}
@media (max-width: 400px) {
  .mainCard_content {
    transform: translateY(60%);
  }
}
.mainCard_content_title {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0;
}
.mainCard_content_desc {
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
  margin-bottom: 0;
  line-height: 1.6;
  padding: 0 4rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
@media (max-width: 991px) {
  .mainCard_content_desc {
    padding-top: 3.5rem;
  }
}
.mainCard:hover .mainCard_img {
  transform: scale(1.07);
  filter: none;
}
.mainCard:hover .mainCard_content {
  transform: translateY(0);
}
.mainCard:hover .mainCard_content_title {
  transform: scale(1.1);
  margin-bottom: 1.2rem;
}
@media (max-width: 768px) {
  .mainCard:hover .mainCard_content_title {
    margin-bottom: 1.5rem;
  }
}
.mainCard:hover .mainCard_content_desc {
  opacity: 1;
  padding-top: 0;
}

/*  _____________ cards Styles _____________  */
/* ====================================== _____________ cards Styles _____________ ====================================== */
.ourServices {
  width: 100%;
  height: auto;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .ourServices {
    margin-top: 2rem;
  }
}
.ourServices_content {
  width: 100%;
  color: #fff;
}
.ourServices_content_title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.ourServices_cards {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .ourServices_cards {
    flex-wrap: wrap;
  }
}
.ourServices_cards_card {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff !important;
}
@media (max-width: 1200px) {
  .ourServices_cards_card {
    width: 45%;
  }
  .ourServices_cards_card:last-of-type {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .ourServices_cards_card {
    width: 100%;
  }
}
.ourServices_cards_card_icon {
  height: 60px;
  margin-bottom: 1.5rem;
}
.ourServices_cards_card_title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.ourServices_cards_card_desc {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  padding: 0 3rem;
  color: #fff;
  margin-bottom: 0;
  opacity: 0.7;
}

.services {
  width: 100%;
  height: auto;
}
.services_content {
  color: #fff;
  margin-bottom: 2rem;
}
.services_content_title {
  font-size: 2.5rem;
  font-weight: 700;
}
.services_content_desc {
  font-size: 1rem;
  font-weight: 200;
  display: inline-block;
  width: 50%;
}
@media (max-width: 991px) {
  .services_content_desc {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .services_content_desc {
    width: 95%;
  }
}
.services_cards {
  width: 100%;
  height: auto;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.services_cards_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #121212;
  border: 2px solid rgba(255, 255, 255, 0.04);
  border-radius: 6px;
  color: #7B7B7B;
  overflow: hidden;
}
.services_cards_card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 3px;
  border-radius: 6px 6px 0 0;
}
@media (max-width: 768px) {
  .services_cards_card_img {
    height: 60%;
  }
}
.services_cards_card_content {
  color: #fff;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}
.services_cards_card_content_title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.services_cards_card_content_desc {
  font-size: 1.125rem;
  font-weight: 400;
  color: #7B7B7B;
  line-height: 1.3;
}
@media (max-width: 1200px) {
  .services_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .services_cards {
    grid-template-columns: 1fr;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue";
  overflow-x: hidden !important;
}

.navbar {
  background-color: #1A3E6F;
}

.navbar-brand img {
  max-width: 100%;
}

.navbar-nav .AR a {
  font-family: "Helvetica Neue";
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  color: #fff;
  margin-right: 25px;
  padding: 12px 25px;
}

.Contact-Us .btn {
  color: #1A3E6F !important;
  font-family: "Helvetica Neue";
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 12px 25px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  /* Ensures the header stays on top of other content */
  background-color: #fff;
  /* Adjust background color if needed */
}

.navbar2 .navbar-nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar2 .nav-item .Links {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  position: relative;
  transition: all 0.3s ease;
}

/* Border under the active link */
.navbar2 .nav-item .Links.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #1A3E6F !important;
  transition: width 0.3s ease;
}

/* media queries للشاشات المتوسطة */
@media (max-width: 992px) {
  .navbar-brand img {
    max-width: 120px;
  }
  .navbar-nav .AR a {
    margin-right: 15px;
    font-size: 12px !important;
  }
  .Contact-Us .btn {
    font-size: 12px !important;
    padding: 10px 20px;
  }
  .navbar2 .navbar-nav {
    width: 60%;
  }
  .navbar2 .nav-item .Links {
    font-size: 12px;
  }
}
/* media queries للشاشات الصغيرة */
@media (max-width: 768px) {
  .navbar-brand img {
    max-width: 100px;
    height: auto !important;
  }
  .navbar-nav .AR a {
    margin-right: 10px;
    font-size: 10px !important;
  }
  .Contact-Us .btn {
    font-size: 10px !important;
    padding: 8px 15px;
  }
  .navbar2 .navbar-nav {
    width: 80%;
    justify-content: space-around;
  }
  .navbar2 .nav-item .Links {
    font-size: 10px;
  }
}
/* media queries للشاشات الصغيرة جدًا */
@media (max-width: 576px) {
  .navbar-brand img {
    max-width: 80px;
  }
  .navbar-nav .AR a {
    margin-right: 5px;
    font-size: 9px !important;
  }
  .Contact-Us .btn {
    font-size: 9px !important;
    padding: 6px 12px;
  }
  .navbar2 .navbar-nav {
    width: 100%;
    flex-direction: column;
  }
  .navbar2 .nav-item .Links {
    font-size: 9px;
    margin-bottom: 5px;
  }
}
.banner_homepage .swiper-container {
  margin-top: 80px !important;
}

/* تحسين شكل النقاط الدائرية في الأسفل */
.banner_homepage .swiper-pagination-bullet {
  background-color: #fff;
}

.banner_homepage .swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_homepage .swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  color: white;
}

.banner_homepage .swiper-button-next {
  right: 10px;
  bottom: 20px;
}

.banner_homepage .swiper-button-prev {
  left: 10px;
  bottom: 20px;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  height: 100vh;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-height: 78% !important;
  /* Allow the sidebar to grow based on content */
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: top 0.9s ease;
  /* Animation when showing */
  padding: 20px;
  z-index: 1000;
}

.sidebar-content {
  display: none;
  margin-top: 20px;
}

/* Active content */
.active {
  display: block;
}

/* Close button hidden */
.sidebar .closebtn {
  display: none;
}

.sidebar-content-Links ul li {
  list-style: none;
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  color: #79797C;
}

.sidebar-content-Links {
  position: relative;
}

.sidebar-content-Links::before {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  height: 230%;
  width: 1px;
  background-color: #d2d2d6;
}

.sidebar-content-Links ul {
  list-style: none;
  padding: 0;
}

.sidebar-content-Links ul li {
  padding: 5px 0;
}

.sidebar-content-capton {
  margin-left: 50px;
}

.sidebar-content-capton p {
  margin-top: 40px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #A3A3A3;
}

.sidebar-content-capton-imgPosition {
  position: absolute;
  bottom: 50px;
  right: 5px;
}

/* Media Query للأجهزة اللوحية */
@media (max-width: 992px) {
  .sidebar-content-Links ul li {
    margin-left: 10px;
  }
  .sidebar-content-capton {
    margin-left: 20px;
  }
  .sidebar-content-capton-imgPosition {
    bottom: 20px;
    right: 5px;
  }
}
/* Media Query لشاشات الموبايل */
@media (max-width: 768px) {
  .sidebar-content-Links {
    text-align: center;
    position: relative;
  }
  .sidebar-content-Links ul li {
    margin-left: 0;
    margin-bottom: 2px;
    font-size: 12px;
  }
  .sidebar-content-Links::after {
    content: "";
    position: absolute;
    bottom: -10px;
    /* المسافة بين البوردر والروابط */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d2d2d6;
  }
  /* إخفاء البوردر الأصلي على الجانب */
  .sidebar-content-Links::before {
    display: none;
  }
  .sidebar-content-capton {
    margin-left: 0;
    text-align: center;
  }
  .sidebar-content-capton p {
    margin-top: 10px;
  }
  .sidebar-content-capton-imgPosition {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px;
  }
  .sidebar-content img {
    width: 100%;
    height: auto;
  }
  /* Swiper */
  .banner_homepage .swiper-container {
    height: 350px !important;
    margin-top: 64px !important;
  }
  .banner_homepage .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sidebar {
    overflow: scroll;
    margin-top: 40px;
  }
}
.nav-pills .nav-link {
  background-color: transparent;
  color: #79797C;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  padding: 18px;
  text-align: start;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: #1A3E6F !important;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.nav-pills .nav-link img {
  filter: none;
  transition: filter 0.3s ease;
}

.nav-pills .nav-link.active img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(2000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.nav-pills {
  position: relative;
}

.nav-pills::before {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  height: 200%;
  width: 1px;
  background-color: #d2d2d6;
}

.tab-pane ul li a {
  color: #79797C;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

/* Media Queries for Tablets */
@media (max-width: 768px) {
  .nav-pills {
    position: static;
    margin-bottom: 20px;
  }
  .nav-pills::before {
    display: none;
  }
  .nav-pills .nav-link {
    padding: 12px;
    font-size: 12px;
  }
  .nav-pills .nav-link img {
    width: 16px;
  }
  .sidebar-content-capton-imgPosition img {
    width: 100%;
    height: auto;
  }
}
/* Media Queries for Mobile Devices */
@media (max-width: 576px) {
  .nav-pills .nav-link {
    font-size: 10px;
    /* Further reduce font size for smaller screens */
    padding: 10px;
    /* Further reduce padding */
  }
  .nav-pills .nav-link img {
    width: 14px;
    /* Further reduce image size */
  }
  .tab-pane ul li a {
    font-size: 12px;
    /* Adjust font size for tab content */
  }
}
.Who-We-Are {
  margin-top: 90px;
}

.Who-We-Are .caption {
  padding-left: 80px;
}

.Who-We-Are .caption h2 {
  color: #1A3E6F;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.border-under {
  position: relative;
  display: inline-block;
  /* Ensures the span wraps the text correctly */
}

.border-under::after {
  content: "";
  position: absolute;
  bottom: -8px;
  /* Adjust the position of the border */
  left: 0;
  right: 0;
  border-bottom: 3px solid #79797C;
  /* Adjust the border color and width */
}

.Who-We-Are .caption p {
  margin-top: 50px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px;
  color: #79797C;
}

.Who-We-Are .caption .btnMain {
  background-color: #1A3E6F;
  color: #fff;
  padding: 11px 20px;
  margin-top: 40px;
}

.Who-We-Are .Image {
  object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Who-We-Are .caption {
    padding-right: 20px;
  }
  .Who-We-Are .caption p {
    margin-top: 25px;
  }
  .Who-We-Are .caption .btnMain {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .Who-We-Are .Image img {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (max-width: 768px) {
  .Who-We-Are-item {
    flex-direction: column;
    text-align: center;
  }
  .Who-We-Are .caption {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center !important;
    margin: auto !important;
    width: 100% !important;
  }
  .Who-We-Are .caption h2 {
    font-size: 28px;
  }
  .Who-We-Are .caption p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
  }
  .Who-We-Are .Image {
    margin-top: 20px;
    width: 100% !important;
  }
  .Who-We-Are .Image img {
    width: 100% !important;
  }
}
/* Media Query for Mobile (576px and below) */
@media (max-width: 576px) {
  .Who-We-Are-item {
    flex-direction: column;
    text-align: center;
  }
  .Who-We-Are .caption {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center !important;
    margin: auto !important;
    width: 100% !important;
  }
  .Who-We-Are .caption h2 {
    font-size: 24px;
  }
  .Who-We-Are .caption p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px !important;
  }
  .Who-We-Are .Image {
    width: 100% !important;
  }
  .Who-We-Are .Image img {
    width: 100% !important;
    height: 350px !important;
  }
  .Who-We-Are .caption .btnMain {
    padding: 8px 15px;
  }
}
.Ourservices {
  margin-top: 70px;
  background: rgba(121, 121, 124, 0.1);
  padding-bottom: 40px;
}

.Ourservices .caption {
  margin-top: 70px;
}

.Ourservices .caption h2 {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #1A3E6F;
}

.Ourservices .container-fluid {
  width: 90%;
}

.Ourservices .item-hover {
  background-color: #1A3E6F;
  height: 75px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Ourservices h3 {
  color: #FFF;
  text-align: center;
  /* Services Title */
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .Ourservices .item-captipn2 h3 {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 10px !important;
    font-weight: 100 !important;
  }
}
.Ourservices .item-hover h3 {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.Ourservices .item {
  overflow: hidden;
  margin-top: 50px;
  height: 200px;
  flex-shrink: 0;
}

.Ourservices .item img {
  transition: transform 0.3s ease-in-out;
  transition: all 1s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Ourservices .item:hover img {
  transform: scale(1.1);
}

.Ourservices .item-captipn {
  background-color: #1A3E6F;
  color: #fff;
  height: 80px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.Ourservices .item:hover ~ .item-captipn {
  background-color: #102B4F;
}

.Ourservices .item-Services {
  width: 64px;
  height: 64px;
  margin: auto;
  text-align: center;
  margin-top: 25px;
}

.Ourservices .item-Services img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.Ourservices .item-captipn2 {
  background-color: #1A3E6F;
  color: #fff;
  height: 70px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  margin-top: 16px;
}

.Ourservices .item-captipn2:hover {
  background-color: #102B4F;
}

.row-Item {
  display: flex;
  flex-wrap: wrap;
}

.col-Item {
  flex: 1 1 20%;
  /* نسبة العرض للعرض المناسب */
  margin-bottom: 15px;
  /* هامش بين العناصر */
}

.item-Services img {
  width: 100%;
  height: auto;
}

.LatestNEWS .caption {
  margin-top: 70px;
  margin-bottom: 50px;
}

.LatestNEWS .caption h2 {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #1A3E6F;
}

.LatestNEWS .container-fluid {
  width: 90%;
}

.LatestNEWS .item-captipn h3 {
  color: #141B34;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.LatestNEWS .item-captipn p {
  overflow: hidden;
  color: #828282;
  text-overflow: ellipsis;
  /* Body Text */
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px;
}

.LatestNEWS .item-captipn .btnMain {
  background-color: #1A3E6F;
  color: #fff;
  padding: 11px 20px;
}

.Brands .custom-border {
  width: 90%;
  height: 1px;
  background-color: #79797C;
  margin: 20px auto;
}

/*# sourceMappingURL=style.css.map */
